New_env/
data/
images/
__pycache__/
images/
Frontend/node_modules/
.aws/
.bash_history
.bash_logout
.bashrc
.cache/
.kiro-server/
.npm/
.pm2/
.profile
.ssh/
.sudo_as_admin_successful
.vscode/
textract_text/

